

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f8f8fb;
    color: #333;
}

header {
    background: linear-gradient(90deg, #000000, #fe0000);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffeb3b;
}

.banner {
    background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794?auto=format&fit=crop&w=1500&q=80') no-repeat center center/cover;
    height: 70vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-texto {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 60px;
    border-radius: 12px;
}

.banner button {
    background: #ffeb3b;
    color: #333;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.banner button:hover {
    transform: scale(1.05);
}

.catalogo {
    text-align: center;
    padding: 50px 20px;
}

.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.libro {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 220px;
    transition: transform 0.3s;
    overflow: hidden;
}

.libro:hover {
    transform: translateY(-6px);
}

.libro img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.libro h3 {
    margin: 10px;
}

.libro p {
    margin: 0 10px 10px;
}

.libro button {
    background: #ff0000;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.libro button:hover {
    background: #2575fc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    border-radius: 10px;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.cerrar {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

#comprarBtn {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}


footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


